.container {
  max-width: 600px;
}

.btn {
  background-color: #43d9be !important;
  ;
  color: white !important;
  ;
  outline: none !important;
  box-shadow: none !important;
}

.btn:focus {
  outline: none !important;
}

.username {
  font-weight: bold;
}

.time {
  color: #999;
  font-size: 0.7em;
}